<div class="row">
    <form ng-submit="search(searchValue)">
        <input placeholder="search"
               ng-model="searchValue"
               type="search"
               class="form-control"/>
    </form>
    <hr>
    <table class="table table-hover">
        <thead>
        <td class="col-lg-1">Id</td>
        <td class="col-lg-3">name</td>
        <td>tags</td>
        <td class="col-lg-1"></td>
        </thead>
        <tbody>
        <tr ng-repeat="hit in hits">
            <td>{{hit._id}}</td>
            <td>{{hit._source.name}}</td>
            <td>
                <div ng-repeat="tag in hit._source.tags | limitTo:5" class="tag">{{tag}}</div>
                <div ng-if="blob.tags.length > 5" class="tag more">{{hit._source.tags.length - 5}} more tags</div>
            </td>
            <td>
                <span ng-click="edit(blob)"
                      style="cursor: pointer"
                      class="glyphicon glyphicon-edit"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>