@(mode : String)
@main(mode = mode) {

<div class="container" id="ng-app">
    <div class="row">
        <h1>DEMO
            <small>play2-elasticsearch-tags-heroku</small>
        </h1>
        <hr>
    </div>
    <div class="row">
        <a href="#!/">home</a>
        <a href="#!/blobs">blobs</a>
        <a href="#!/tags">tags</a>
        <hr>
    </div>
    <div ng-view></div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
<script src='@routes.Assets.at("javascripts/main.js")'></script>
<script type="text/javascript">
    angular.module("config", []);
    angular.module("config").constant("BASE_PATH", '@routes.Assets.at("")');
    angular.bootstrap(angular.element(document.getElementById("ng-app")), ["config", "app"]);
</script>


}
